# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=your_telegram_bot_token_here

# База данных (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cs2_bot

# Настройки бота
BOT_USERNAME=your_bot_username

#ID админов
ADMIN_IDS=111111111,22222222222